[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/hrothgar32/.doom.d/exwm/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=EXWM
DesktopNames=EXWM
